# Exclude Python bytecode files
__pycache__

# Exclude version control system files
.git
.gitignore

# Exclude editor-specific files
.vscode/
.ipynb_checkpoints/

# Exclude temporary and cache files
*.log
*.cache

# Exclude CSV files
*.csv

# Exclude Jupyter Notebook files
*.ipynb

# Exclude virtual environment files
.venv/

# Exclude README file (if you don't want it in version control)
README.md
#file docker 
.dockerignore
docker-compose.yml
dockerfile
